<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>  
	  <add name="db_btlthsk" connectionString="Data Source=DESKTOP-67KTQ66;Initial Catalog=ThuVienC#;Persist Security Info=True;uid=sa;pwd=1" providerName="System.Data.SqlClient"/>  
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
	</startup>
</configuration>